body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{color: orange;}
.flexible-container{
    display: flex;
margin-bottom: 100px;
}
.half-width{
    width: 50%;
padding-left: 5%;
}
.half-width img{width: 80%;}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;

}
.background-image{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
   
}
.last h1{
    color: yellowgreen;
}
.last h3{
    color: orange;
}
.last div{
    box-shadow: 5px 4px 30px yellowgreen;
}
#border{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, orange, blue);
    border-image-slice: 1;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    
}
#border-one{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, rgb(30, 255, 0), blue);
    border-image-slice: 1;
    padding: 20px;
    margin-left: 20px;
}
footer p{
    text-align: center;
}